*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
@import "mixins";
ul{
	li{
		list-style-type: none;
		
	}
} 
a{
			text-decoration: none;
		}
@arrow: data-url(../img/strelka.png);
.wrapper{
	width: 1170px;
	margin: 0 auto;
}
.beckgraund{ background:  url(../img/bg.jpg) ;
 .header{
 	position: fixed;
 	width: 100%;
  .block1{
  	.clearfix();
  	background: #211103;
  	.wrapper{
  		ul{
  			li{
  				float: left;
  				padding: 10px;
  				border: 1px solid transparent;
       -webkit-border-image: url(../img/linia.png) 0 1 0 0 round round;
       -o-border-image: url(../img/linia.png) 0 1 0 0 round round;
          border-image: url(../img/linia.png) 0 1 0 0 round round;
  				a{
  					.font-basic( @_size: 19px, @_weight: 700);
  					&:hover{
  						color:#f5d602;
  					}
  				}
  				&:nth-child(5){
  					border: none;
  				}
  				&:last-child{
  					float:right;
  					border: none;
  					a{
  						&:before{
  							content:url(../img/login.png);
  							
  						 }
  						span{
  							padding: 2px 10px;
  						
  						}
  					}
  				}
  			}
  		}
  	}
  }
  .block2{
  	 
  	 background: white;
  	.wrapper{
 	ul{.clearfix();
 		li{
 			float: left;
 			a{.font-basic( @_size: 19px, @_weight: 700 , @_color:black); }
      form{
        padding: 20px;
        input {&[type="search"]{
          width: 325px;
          height: 30px;
          padding: 5px 10px;
          border: 2px solid  black;
          -webkit-border-radius: 6px 0 0 6px;
          border-radius: 6px 0 0 6px;
        }
        }
        select{
          height: 30px;
           border: 2px solid  black;
          -webkit-border-radius:0 6px 6px 0;
          border-radius: 0 6px 6px 0;
          border-left: none;
          background: black;
          color: white;
          padding: 0 10px 0 0;
        }
      
        
      }
 			&:first-child{
 				padding-top:10px;
 				p{
 					text-align: center;
 					.logo{
 					
 					.font-basic( @_size: 19px, @_weight: 700 , @_color:black ,@_upper:uppercase , @_align:center);
 					.font-face(@name:'NavyQueenLT', @file:NavyQueenLT, @style: normal, @weight: 700);}
 					a{
 						.font-basic( @_size: 13px, @_color:black ,@_upper:uppercase , @_align:center);
 					}
 				
 			 }
 			}
 			&:nth-child(2){
 				padding-left: 40px;
        span{
          font-weight: 700;
        }
  					&:before{
  						  content: " ";
  						background: url(../img/phone.png)  ;
 						
  					}
  				}
          &:nth-child(3){
            padding: 10px 10px 0;
            a{
              font-weight: 100;
              span{
                font-weight: 700;
              }
            }
          }
          &:last-child{
            float: right;
            padding: 15px 15px 0 0;
          }
 		}
 	}
  	}
  }
}
  .main{
 	.clearfix();
  	padding: 111px 10px 50px ;
  	background: white;
  	.advertising{
  		background:url(../img/banner.jpg) ;
      background-repeat: no-repeat;
      background-position: top center;
  		
  		padding: 400px 0 100px 840px;
  		a{ background: #48a803;
  			color: white;
  			padding: 5px;
  			border-radius: 5px;
  			border-bottom: 3px solid #2a6400;
  		}
  	}
  	.spisok1{
  		.clearfix();
  		padding: 0 80px;
  		li{
  			float: left;
  			margin: 0 28px;
  			padding: 5px;
  			a{
  				.font-basic( @_size: 18px, @_weight: 700, @_color: black, @_upper: none, @_align: none, @_line: 1);
  			 &:hover{
  			 	color:#f7df59;
  			 }
  			}
  		}
  	}
  	.block_1{
  		.clearfix();
  		padding-top:20px;
  		.spisok_1{
  			-webkit-border-radius: 15px 0 15px 0;
			border-radius: 15px 0 15px 0;
			border: 1px solid #211103;
			width: 292px;
			float: left;
			li{ 
				padding: 8px 0 8px 15px;
				width: 290px;
				border-bottom: 1px solid #cccccc;
				&:after{
						content:url(../img/right.png);
						float: right;
						margin: 2px 5px;
					}
				&:hover{
					background:url(../img/1px_orang.png);
					&:after{
						content:url(../img/hover_right.png);
						float: right;
						margin: 2px 5px;
					}
				}
				a{
					.font-basic( @_size: 17px, @_weight: 500, @_color: black, @_upper: none, @_align: none, @_line: 1);
				}
				&:first-child{
					background: #211103;
					border-radius: 14px 0 0;
					.font-basic( @_size: 19px, @_weight: 600,  @_upper: none, @_align: none, @_line: 1);
				}
				&:last-child{
					border: none;
				}
			}
  		}
  		.spisok_2{
  			float: left;
  			width: 474px;
  			margin: 0px 35px;
  			li{
  				text-align: center;
  				float: left;
  				width: 150px;
  				height: 105px;
  				border: 1px solid #cccccc;
  				border-radius: 15px;
  				margin: 3px;
  				padding: 10px;
  				a{
  					.font-basic( @_size: 19px, @_color:black);
  				}
  				&:last-child{
  					padding-top:40px;
  					a{.font-basic( @_size:12px , @_color:black);
  						&:after{
  							content:url(../img/strelka.png);
  							display: inline-block;
  							width: 4px;
                            height:5px;
  							padding: 5px;
  						}
  					
  					}
  					
  				}
  				&:hover{
  					background:url(../img/1px_orang.png);

  				}
  				&:nth-child(5){
  					line-height: 0.9;

  				}
  			}
  		}
  		.right{
  			float: right;
  			width: 260px;
  			.recklam{
  				background: yellow;
  				padding: 18px 30px;
  				.font-basic( @_weight:600,  @_size: 19px,  @_color: white,  @_align: center, @_line:1.4);
  				.cena{
  					font-size: 25px;
  				}
  				.button{
  					background: #4bb201;
  					border-radius: 10px;
  					border-bottom: 3px solid #2a6400;
  					a{
  						color: white;
  						img{
  							margin-left: 15px;
  							border-left: 1px solid white;
  							padding-left:  15px
  						}
  					}
  				}
  			} 
  		}
  	}
  	.block2{
  		h2{
  			padding-left: 50px;
  		}
  		.clearfix();
  		background: #dedede;
  		margin: 20px 0px;
  		padding: 10px;
  		ul{
  			margin: 10px 0;
  			li{ background: white;
  				float: left;
  				padding: 0 48px;
  				p{
  					text-align: center;
  					line-height:2;
  					a{
  						color: black;
  					}
  				}
  				.zg{
  					margin-bottom: 5px;
  					font-size: 18px;
  					a{
  						&:after{
  							content:url(../img/strelka.png);
  							display: inline-block;
  							
  							padding: 10px
  						}
  						&:hover{
  							&:after{
  							content:url(../img/strelka_hover.png);
  							display: inline-block;
  							
  							padding: 10px
  						}
  						}
  					}
  				}
  				.cen{

  					a{
  						 font-weight: 700;
  						&:first-child{
  							background:yellow;
  							padding: 3px 5px;
  						}
  						&:last-child{
  							height: 30px;
  							&:before{
  								content:url(../img/korzina.png) ;
  								display: inline-block;
							    vertical-align: middle;
							    font-size: 10px;
							    font-style: normal;
							    padding-left: 20px
  							}
  							&:hover{
  								&:before{
  								content:url(../img/hover_korzina.png) ;
  								display: inline-block;
							    vertical-align: middle;
							    font-size: 10px;
							    font-style: normal;
							    padding-left: 20px;
  							}
  							}
  						}
  					}

  				}
  			}
  		}
  	}
    .h{
      margin: 15px 0;
    }
    .rigt{
      .clearfix();
      float: right;
      li{
        -webkit-border-radius: 15px 15px 0 0;
         border-radius: 15px 15px 0 0;
         border: 1px solid #211103;
         width: 220px;
         margin-bottom: 15px;
         &:first-child{
          a{
            .href();
            font-size: 18px;
          }
         }
         p{
          padding-left: 10px;
          &:first-child{
            -webkit-border-radius: 13px 13px 0 0;
            border-radius: 13px 13px 0 0;
            padding: 7px 10px;
            background: #211103;
            margin-bottom: 10px;
            .font-basic( @_size: 19px, @_weight:700);
          }
          &:last-child{
            margin-bottom: 15px;
          }
         }
      }
    }
    .left{
      .clearfix();
      width: 910px;
      .last{ 
        width: 100%;
        float: right;
        margin-top: 5px;
       
       a{
        padding: 4px;
        color: white;
        font-size: 18px;
        border-radius: 7px;
        &:first-child{
          background:#444444;
          border-bottom: 2px solid black;
          padding-bottom: 9px;
        }
        &:last-child{
          padding: 5px;
          float: right;
          background: #3f9501;
          border-bottom: 2px solid #317700;
        }
       }
       }
      .right{
        margin: 10px 0;
        float: right;
        color: #3f3f3f;
        span{
          color: black;
          margin-left: 5px;
        }
      }
      span{
        background: yellow;
       
        padding: 5px;
        border-radius: 5px;
      }
      .grey{
        background: #dedede;
        padding: 0px 15px 15px;
        .clearfix();
        .info{
         .clearfix();
          li{
            float: right;
            text-align: center;
            font-size: 17px;
            padding: 5px;
            margin: 0 15px;
            width: 100px;
            &:first-child{
              float:left;
              text-align: none;
              margin: 0;
            }
            &:nth-child(2){
              width: 130px;
            }
          }
        }
        .tovar{
          .clearfix();
          background: white;
          border-bottom: 1px solid #dedede;
          li{
            text-align: center;
            vertical-align: middle;
            float: left;
            width: 234px;
            height: 100px;
            padding-top:30px;
            a{
              .href();
            }
            img{
              vertical-align: middle;
              width: 150px;
              height: 90px;
            }
            .ots{
              margin-bottom: 7px;
            }
            &:first-child{
              padding-top:5px;
            }
            &:nth-child(3){
              width: 115px;
              span{
                border: 1px solid black;
                background: none;
              }
              border-left: 1px solid #dedede;
            }
            &:nth-child(4){
              width: 150px;
              border-left: 1px solid #dedede;
            }
            &:nth-child(5){
              width: 124px;
               border-left: 1px solid #dedede;
            }
          }
        }
      }
    }
   }
 
 
 .futer{
 	background: #211103;
 	.wrapper{.clearfix();
 		padding: 20px;
 		color:white;
 		.pr{ float: left;
 			.clearfix();
 			margin: 0px 50px;
 			width: 200px;
 			li{
 				
 				&:first-child{
 					font-size:20px;
 				}
 				a{
 					color:white;
 					&:hover{
 						padding-left:5px;
 					}
 				}
 			}
 			&:first-child{
 				line-height: 1.38;
 				margin-left: 0;

 			}
 		}
 		.block3{
 		width: 500px;
 		float: right;
 		hr{
 			margin: 10px 0;
      background: #a6a09a;
      border: none;
      height: 2px;
 		}
 		ul{ width: 100%;
      margin: 0;
      .clearfix();
 			li{
 				float: left;
 				margin: 0;
        padding: 5px 20px;
        border-right: 1px solid white;

 				&:first-child{
 					font-size:16px;
 					color: #43abf4;
          padding-left: 0;
        }
        &:last-child{
          border: none;
        }
 			}
 		}
 			p{
 				&:first-child{
 					font-size:20px;
 				}
 			}
 		}
    .info{
   padding:15px 0;
      .clearfix();
      float: none;
      width: 100%;
      li{float: left;
        margin: 0 25px;
        a{
          color: white;
          margin: 0 8px;
          img[src="img/visa.png"]{
            padding-bottom: 12px;
          }
        }
        &:first-child{
          padding-top: 15px;
          margin-left: 0;
          a{
            
            font-size: 19px;
          }
        }
        &:last-child{
          a{
            margin: 0 3px;
          }
        }
      }
    }
 	}
 }
} 
@media only screen and (max-width: 768px){
  .wrapper{
    width: 100%;
  }
  .beckgraund{
    background: none;
    .header{
      position:static;
      .block1{
        .wrapper{
          ul{li{
            a{
              font-size: 17px;
            }
            &:last-child{
            float:right;
            border: none;
            a{
              
              span{
                font-size: 13px;
              
              }
              } 
            }
            }}

        }
      }
      .block2{
        .wrapper{
          ul{
            li{
              &:last-child{
            float:left;
            padding-left: 10px;
          }
            }
          }
          
        }
      }
     
    }
    .main{
      padding: 0;
      .advertising{
       display: none;
      }
      .spisok1{
        width: 100%;
        margin: 10px auto;
        padding: 0;
        li{
          margin:0;
        }
      }
      .block_1{ 
        .spisok_2{

        width: 50%;
        margin:0 5%;
      }
      .right{
        display: none;
      }
    }
    .block2{
      ul{
        width: 100%;
        margin: 5px 0px;
        li{
         overflow: hidden;
          width: 40%;
          margin: 4%;
          height: 340px;
          padding: 3%;
        }
      }
    }
     
    .rigt{
      float: none;
      margin: 0 5%;
      width: 90%;
      li{width: 32%;
        float: left;
        &:nth-child(2){
          margin: 0 2%;
          width: 30%;
        }
      }
    }
          .right{
        margin: 10px 0;
        float: right;
        color: #3f3f3f;
        span{
          color: black;
          margin-left: 5px;
        }
      }
      span{
        background: yellow;
       
        padding: 5px;
        border-radius: 5px;
      }
      .left{width: 100%;
        .grey{
        margin-top:1%;
       width: 100%;
        padding:2% ;
        .info{
          display: none;
        }
        .tovar{
          width: 43%;
          margin: 2%;
          float: left;
          background: white;
          border-bottom: 1px solid #dedede;
          li{
            text-align: center;
            vertical-align: middle;
            float: none;
            width: 100%;
            height: auto;
            padding:3%;
            a{
              .href();
            }
            img{
              vertical-align: middle;
              width: 80%;
              height: 80%;
            }
            .ots{
              margin-bottom: 7px;
            }
            &:first-child{
              padding-top:3%;
              height: 30%;
            }
            &:nth-child(3){
             border-bottom: 1px solid #dedede;
             border-top: 1px solid #dedede;
             width: 100%;
              span{
                border: 1px solid black;
                background: none;
                &:before{
                  content:'Колово:';
                  margin-right: 5px;
                }
              }
              
            }
            &:nth-child(4){
              width: 100%;
              border-bottom: 1px solid #dedede;
              &:before{
                content:'Общая цена:';
                margin-right: 2%;
              }

            }
             &:nth-child(5){
              width: 100%;
              border-bottom: 1px solid #dedede;
            }
           
          }
        }
      }
    
      }
      
    }

    .futer{
      .wrapper{
        .pr{
          width: 45%;
          margin: 2%;
        }
        .block3{
          float: none;
          margin:0 auto;
        }
      }
    }
  }
}
@media only screen and (max-width: 728px){
   .beckgraund{
    .main{
      .block_1{
        .spisok_1{
          display: none;
        }
        .spisok_2{
          width: 100%;
          padding: 2%
        }
      }
    }
   }
}
@media only screen and (max-width: 540px){
.beckgraund{
    .header{
      .block2{
        .wrapper{

          ul{
            li{
              &:last-child{
                width:19%;
                padding: 7% 2%;
              }
              &:nth-child(4){
                width: 80%;
                padding: 0;
                margin: 0 0 0 1%;
                form{
            width: 100%;
        padding: 0;
        margin: 0;
        input {&[type="search"]{
          width: 100%;
          margin:  5% 0 0;
          height: 30px;
          padding: 5px 10px;
          border: 2px solid  black;
          -webkit-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
        }
        }
        select{
          height: 30px;
           width: 100%;
          margin: 0 0 5%;
           border: 2px solid  black;
          -webkit-border-radius:0 0 6px 6px;
          border-radius:  0 0 6px 6px;
          border-left: none;
          background: black;
          color: white;
          padding: 0 10px 0 0;
        }
      
        
      }
    }
            
          
        }
      }
        }
      }
    }
    .main{

      .block2{
        ul{
          li{
            width: 90%;
          }
        }
      }
      .h{
        text-align: center;
      }
      .rigt{
      float: none;
      margin: 0 5%;
      width: 90%;
      li{width: 70%;
        float: none;
       margin: 2% 15%;
        &:nth-child(2){
         width: 70%;
        float: none;
       margin: 2% 15%;
        }
      }
    }
    }
   }
}
@media only screen and (max-width: 480px){
.beckgraund{
  .main{
    .left{width: 100%;
        .grey{
        
        .tovar{
          width: 90%;
          margin: 5%;
          float: none;
          background: white;
          border-bottom: 1px solid #dedede;
          
        }
      }
    
      }
  }
  .futer{
    .wrapper{.pr{
      float: none;
      width: 80%;
      margin: 2% 10%;
      &:first-child{
        margin: 2% 10%;
      }
      li{
        &:first-child{
          margin-top:5%;
          font-weight: 700;
        }
      }

    }
    .block3{
      width: 100%;
      ul{
        li{
          font-size: 15px;
          padding: 2% 3%;
        }
      }
    }
  }
    
  }
}
}
@media only screen and (max-width: 320px){
.beckgraund{
    .main{
      .spisok1{
        li{
          float: none;
        }
        
      }
      .block_1{
        .spisok_2{
          float: none;
          width: 80%;
          padding: 0;
          margin: 0 10%;
          li{
            width: 100%;
            margin: 2% auto;
          }
        }
      }
    }
  }
  .header{
    .block2{
      .wrapper{
        ul{
          li{
            &:nth-child(3){
              width: 90%;
              margin: 0 5%;
              padding:2% 0 2% 25%;
            }
          }
        }
      }
    }
  }
}